.edit-profile {
  padding-top: 10%;
  background: var(--background-color);
  padding-bottom: 10%;
  min-height: 100vh;
}
#cross-icon {
  margin-left: 5%;
  margin-right: 5%;
  height: 1rem;
}
.edit-container {
  margin-left: 4%;
  margin-right: 4%;
}
#edit-txt {
  font-family: Kaushan Script;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 12px;
}
#img-edit {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  margin-top: 2rem;
}

#chng-pp-1 {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
}
.inp-edit {
  background: rgba(129, 129, 129, 0.6);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
}
::placeholder {
  color: #d9d9d9 !important;
  opacity: 1 !important;
}
#select-theme {
  margin-top: 2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}
#select-theme-subhead {
  margin-top: -1rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 158%;
  text-align: center;
  color: #ffff;
}

#btn-update {
  background: #ffffff;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: var(--background-color);
  border: none;
  margin-top: 1.5rem;
}

.theme-iconsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 15px auto;
}

.theme-btn {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.theme-black {
  background-color: #5c5c5c;
  border: 1px solid #fff;
  box-shadow: 0px 4px 32px rgba(92, 92, 92, 0.5);
}

.theme-creame {
  border: 1px solid #fff;
  background-color: #e6cdb9;
  box-shadow: 0px 4px 32px rgba(230, 205, 185, 0.35);
}

.theme-pink {
  border: 1px solid #fff;
  background-color: #ff69b4;
  box-shadow: 0px 4px 32px rgba(255, 105, 180, 0.35);
}

.theme-blue {
  background-color: #1a2537;
  box-shadow: 0px 4px 32px rgba(26, 37, 55, 0.35);
  border: 1px solid #fff;
}

.editProfile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editProfile-headerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
}

.editProfile-switchBtn {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
}
