.landing {
  display: flex;
  flex-direction: column;
}

.user-landing {
  display: flex;
  flex-direction: column;
  margin-bottom: 25%;
}

.img-header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wallet-icon {
  position: absolute;
  left: 6.4%;
  right: 86.73%;
  top: 8%;
  bottom: 96.59%;
}
#login-text-land {
  position: absolute;
  width: 65px;
  height: 19px;
  left: 21px;
  top: 45px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.bell-icon {
  position: absolute;
  width: 65px;
  height: 28px;
  left: 80%;
  top: 65%;
}
.img-1 {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.img-1-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  padding: 10px 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.container-1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border: none;
  padding: 1rem;
}
.container-1-1 {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}
.img-2 {
  margin-right: 5%;
  border-radius: 8px;
  width: 50%;
  height: 160px;
  /* max-height: 160px; */
  object-fit: cover;
}
.img-2-heading {
  font-family: Kaushan Script;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* margin-left: 1rem; */
}

.btn-chat {
  color: var(--text-color);
  background: var(--background-color);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  width: 90%;
  padding: 1rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  border-radius: 8px;
  border: none;
}

.btn-chat-blue {
  color: #ffffff;
  background: #1a2537;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  width: 90%;
  padding: 1rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  border-radius: 8px;
  border: none;
}

.btn-chat-pink {
  color: #ffffff;
  background: #ff69b4;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  width: 90%;
  padding: 1rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  border-radius: 8px;
  border: none;
}

.album-mainContainer {
  margin-bottom: 20%;
}

.container-2-head {
  margin-top: 2rem;
  margin-left: 5%;
  font-family: Kaushan Script;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.icons-tab {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  background: #ffffff;
  border: 2px solid #d0d0d0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: -1rem;
  margin-right: -1rem;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.time-cont {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.card-1 {
  background: #f3f3f3;
  border: 1px solid var(--background-color);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0.5rem;
  cursor: pointer;
}

.card-2 {
  background: #f3f3f3;
  border: 1px solid var(--background-color);
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Kaushan Script;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 3rem;
  margin-left: 3%;
  margin-right: 3%;
  cursor: pointer;
}
.card-3 {
  background: #f3f3f3;
  border: 1px solid var(--background-color);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0.5rem;
  cursor: pointer;
}
.album-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4rem;
}
.album-card-1 {
  border-radius: 8px;
}
#album-img-btn {
  position: relative;
  z-index: 2;
  height: 275px;
}
#unlock-btn {
  z-index: 5;
  position: absolute;
  bottom: 50%;

  background: var(--background-color);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0.5rem;
}
.album-card-2 {
  border-radius: 8px;
}
.album-card-3 {
  border-radius: 8px;
}
.album-card-img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
#timer-clock {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-top: -1rem;
  margin-left: 0.5rem;

  color: #6a6a6a;
}
#clock-svg {
  margin-bottom: -0.5rem;
}
#see-all {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 50%;

  color: #6a6a6a;
}
#service-txt-landing {
  font-family: Kaushan Script;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 1rem;

  text-align: center;

  color: var(--background-color);
}

.image-containerDiv {
  width: 100%;
}

.myImageDiv {
  width: 270px;
  height: 240px;
  border-radius: 8px;
  margin: 20px auto;
}

.myImage {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.heading-btnDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.add-myImage {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #3d3d3d;
  width: auto;
  margin: 0;
  padding: 0 10px;
}

.addImage-icon {
  border-radius: 50%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--background-color);
  margin-left: 5px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  font-weight: 400;
}

.seeMore-btnDiv {
  width: 100%;
  text-align: center;
  margin: 15px auto;
}

.seeMore-btn {
  width: auto;
  margin: 0 auto;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  color: #3d3d3d;
  text-decoration: underline;
}

.artistLanding-ablumDiv {
  width: 90%;
  margin: 1rem auto;
  background: rgba(38, 38, 38, 0.8);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 24px;
  text-align: center;
  padding: 0 10px;
}

.artistLanding-ablumName {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 0 10px;
  font-family: Kaushan Script;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.artistLanding-ablumCover {
  width: 95%;
  margin: auto;
  height: 158px;
  border-radius: 8px;
}

.artistLanding-cover {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.artistLanding-numPhoto {
  font-family: Kaushan Script;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
}
