.employeeArtist-container {
  width: 100%;
  /* padding: 1rem; */
  margin: auto;
}

.linkedArtist-headingDiv {
  width: 85%;
  margin: 2rem auto;
}

.linkedArtist-heading {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  color: #223263;
}

.linkedArtist-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  margin: auto;
  margin-bottom: 1rem;
}

.linkedArtist-imgDiv {
  width: 44px;
  height: 44px;
  margin-right: 1.4rem;
}

.linked-artistImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.linkedArtist-name {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  color: #223263;
  margin: 4px 0;
  text-transform: capitalize;
}

.linkedArtist-orders {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  color: #8f8f8f;
  margin: 10px 0;
}

.highlight-orders {
  color: #fc3c00;
}

/******** Linked Artist Details *******/

.linkedArtist-container {
  width: 100%;
}

.linkedArtist-headerDiv {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.linkedArtist-headerLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkedArtist-backBtn {
  margin-right: 20px;
}

.linkedArtist-artistImg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 15px;
}

.linkedArtist-artistName {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  color: #223263;
  margin: 4px 0;
  text-transform: capitalize;
}

.linkedArtist-artistOrders {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  color: #8f8f8f;
  margin: 10px 0;
}

.linkedArtist-delete {
  width: 35px;
  height: 35px;
  background: #f1f1f1;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.linkedArtist-deleteIcon {
  width: 13px;
  height: 16px;
  object-fit: cover;
}

.linkedArtist-incomeContainer {
  width: 90%;
  margin: auto;
}

.linkedArtist-incomeDiv {
  width: 100%;
  margin: 20px 0;
  margin-bottom: 25px;
}

.linkedArtist-incomeHead {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  color: #2d2d2d;
  margin-top: 20px;
  margin-bottom: 10px;
}

.linkedArtist-incomeCard {
  width: 82%;
  min-height: 100px;
  background: linear-gradient(
    75.72deg,
    #05478a 4.63%,
    #73bcf8 106.33%,
    #05478a 106.92%
  );
  box-shadow: 4px 4px 4px rgba(4, 97, 182, 0.15),
    -4px 4px 4px rgba(109, 92, 252, 0.15);
  border-radius: 16px;
  padding: 15px;
}

.incomeCard-heading {
  margin: 0;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 1px;
  color: #ffffff;
}

.incomeCard-amount {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 10px;
}

.linkedArtist-otherDetailsDiv {
  width: 90%;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 6rem;
}

.linkedartist-appVisit {
  margin-bottom: 2rem;
}

.appVisit-head {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  color: #223263;
  margin-bottom: 5px;
}

.appVisit-number {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  color: #223263;
  margin: 5px 0;
}

.pendingOrder {
  color: #fc7e00;
}
