.my-service {
  margin-top: 5%;
}
#bck-arrw {
  margin-left: 1rem;
  margin-right: 1rem;
}
#my-service-text {
  font-family: Kaushan Script;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
}
#serv-edit-txt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #3d3d3d;
  margin-left: 45%;
}

#edit-icon {
  margin-left: 0.2rem;
  background: #3d3d3d;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-bottom: -0.3rem;
  padding: 0.1rem;
}

#add-icon {
  background: #3d3d3d;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 14px;
  margin-bottom: -0.3rem;
  margin-left: 0.2rem;
  /* padding: 0.1rem; */
}
.my-service-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
#serv-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
}
#per-serv {
  margin-top: -0.5rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 580;
  font-size: 16px;
  line-height: 24px;
  color: #434343;
}
#serv-name-details {
  margin-top: -1rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #434343;
  margin-right: 5rem;
}
#serv-tot-amt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #2d2d2d;
}
#tot-amt-details {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #848484;
  margin-top: -0.5rem;
}
#serv-desc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #2d2d2d;
}
#serv-desc-details {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #848484;
  margin-right: 3rem;
}
