.add-image{
    margin-top:5%;
}
#post-img{
 font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #0397FC;
margin-left:39%;
margin-top:-19%;
margin-bottom: 40%;
padding:0;
background: none;
border: none;

}
#added-img{
    width:94%;
    height:30vh;
    border-radius: 8px;
    margin-bottom: 2rem;
}
.add-img-cont{
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
}
.inp-add-img{
    display: block;
    width:90%;
    margin-bottom: 2rem;
}
