.otp{
    margin-top:7rem;
}
.otp-head{
    margin-left:5%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.resend-txt{
    font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   color:#828282;
   margin-left:1.5rem;
   margin-top: 0.2rem;
}
.otp-num-inp{
     border:none;   
     margin-top:1rem;
     margin-left: 1.2rem;
     padding:1rem;
     width:75%;
    background-color: #F3F3F3;
    border-radius: 8px;
}
.btn{
    width: 83%;
    height:7vh;
    margin-left: 1.2rem;
    padding:1rem;
    border:none;
    background: #2D2D2D;
    border-radius: 8px;
    color: #F3F3F3;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}