.resend{
    margin-top: 3rem;
}

.resend-head{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
margin-left:1.2rem;
}

.input-no-re{
    margin-top:1rem;
    margin-left: 1.2rem;
    padding:1rem;
    width:82%;
    border:none;
    font-family: 'Poppins', sans-serif;
    background: #F3F3F3;
    border-radius: 8px;
}
.msg-no-re{
    margin-left:2.2rem;
    margin-top: 0.2rem;
    color: #828282;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
}
