.chat-cont-div {
  margin-top: 5%;
}

.artistChat-mainContainerDiv {
  height: 100vh;
  overflow: hidden;
  /* margin-bottom: 25%; */
}

.artistChat-headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  box-shadow: 0px 8px 8px -8px #a8b1b2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: static;
}

.artistChat-headerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.artistChat-headerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.artistChat-generate {
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.artistChat-complete {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: #f2f2f2;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.artistChat-userDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.artistChat-userImage {
  margin-right: 15px;
}

.userChat-userImage {
  margin-right: 15px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.artistChat-username {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  color: #000000;
  text-transform: capitalize;
}

.artistChat-back {
  margin-right: 25px;
}

.artistChat-div {
  height: 70vh;
  overflow-y: auto;
}

#user-photo {
  margin-bottom: -1rem;
}
#chat-user-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  margin-left: 1rem;
}
.sent-message {
  background: linear-gradient(90deg, #65a7d4 0%, #00365b 100%);
  border-radius: 16px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  color: #ffffff;
  padding: 10px 15px;
  width: fit-content;
  min-width: 10%;
  max-width: 50%;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 5%;
}
.received-message {
  color: #222222;
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  text-align: left;
  width: fit-content;
  max-width: 50%;
  padding: 10px 15px;
  margin-right: auto;
  margin-left: 5%;
  margin-top: 5%;
}

.messages {
  margin-bottom: 40%;
  z-index: 10;
}
.message-inp {
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  position: fixed;
  left: 10%;
  right: 16.82%;
  top: 83%;
  bottom: 0%;
  height: 5vh;

  /* gray */

  color: #999999;
}
#message-btn {
  width: 20%;
  display: inline;
  background: #0b4268;
  border-radius: 16px;
  padding: 0.5rem;
  height: 5vh;
  position: fixed;
  left: 70%;
  right: 16.82%;
  top: 75%;
  bottom: 5%;
  height: 5vh;
}

/* .received-message {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #222222;
} */

.artistChat-sendMsg {
  width: 15%;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 16px;
  background-color: #0b4268;
}

.artistChat-inputDiv {
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 60px;
}

.userChat-inputDiv {
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 75px;
}

.artistChat-inputForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.artistChat-inputField {
  margin: 0;
  width: 70%;
  padding: 10px;
  outline: none;
}
